{% extends "AdminDashbord/base.html" %}

{% block body %}
<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
      <ul>
        <li>Admin</li>
        <li>Update Product</li>
      </ul>
    </div>
    <div style="text-align: center;font-size:25px;color:rgb(72, 98, 72)">{% include "includs/msg.html" %}</div>
  </section>
  
  <section class="is-hero-bar">
    
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
      <h1 class="title">
        Update Product
      </h1>
    </div>
  </section>
  
    <section class="section main-section">
      <div class="card mb-6">
        <div class="card-content">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
              <label class="label">Product Name</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="product-name" value="{{product.product_name}}" type="text" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
                <label class="label">Product Title</label>
                <div class="control">
                  <input class="input" name="product-title" value="{{product.roduct_title}}" type="text" required>
                </div>
              </div>

            <div class="field">
                <label class="label">Product Code</label>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input" value="{{product.product_code}}" name="product-code" type="text" required>
                    </div>
                  </div>
                </div>
              </div>
            <div class="field">
              <label class="label">Category</label>
              <div class="control">
                <div class="select">
                  <select name="categoryId">
                    <option value="{{product.product_category.id}}">{{product.product_category.category_name}}</option>
                    {% for i in category %}
                    <option value="{{i.id}}">{{i.category_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
                <label class="label">Product Quantity</label>
                <div class="control">
                  <input class="input" value="{{product.product_quintity}}" name="quantity" type="number">
                </div>
            </div>
            <div class="field">
                <label class="label">Product Image</label>
                <img src="/media/{{product.image}}" style="margin: 5px;" width="80px" alt="">
                <div class="control">
                  <input class="input" name="image" type="file">
                </div>
            </div>
            <div class="field">
                <label class="label">Product Color Image</label>
                <div style="display: flex;margin:8px;">
                    {% for color in product.product_color_image.all %}
                        <img src="{{color.image.url}}" width="80px" alt="Color Image">
                    {% endfor %}
                </div>
                <div class="control">
                  <input class="input" name="color-image" type="file" readonly multiple>
                </div>
            </div>
            <div class="field">
              <label class="label">Color Name</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" name="color-name" value="{{product.color_name}}" type="text" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Product Details</label>
              <div class="control">
                <textarea class="textarea"  name="product-details" required>{{product.details}}</textarea>
              </div>
            </div>
            <div class="field">
                <label class="label">Product Regular Price</label>
                <div class="control">
                  <input class="input" value="{{product.main_price}}" name="regular-price" type="number" required>
                </div>
            </div>
          <label class="label">Discount Available</label>
          <div class="field-body">
            <div class="field grouped multiline">
              <div class="control">
                <label class="checkbox"><input type="checkbox" name="isDiscount">
                  <span class="check"></span>
                  <span class="control-label"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Product Discount Price</label>
            <div class="control">
              <input class="input" value="{{product.dic_price}}" name="discount-price" type="number">
           </div>

           <label class="label">Is New Arival</label>
          <div class="field-body">
            <div class="field grouped multiline">
              <div class="control">
                <label class="checkbox"><input type="checkbox" name="isNew">
                  <span class="check"></span>
                  <span class="control-label"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
            <hr>
  
            <div class="field grouped">
              <div class="control">
                <button type="submit" class="button green">
                  Update Product
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}