<section class="section contact">
    <div class="row">
      <div class="col">
        <h2>EXCELLENT SUPPORT</h2>
        <p>We love our customers and they can reach us any time
          of day we will be at your service 24/7</p>
        <a href="{% url 'homeApp:contact_us' %}" class="btn btn-1">Contact</a>
      </div>
      <div class="col">
        <form action>
          <div>
            <input type="email" placeholder="Email Address">
            <a href>Send</a>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="row">
      <div class="col d-flex">
        <h4>INFORMATION</h4>
        <a href="{% url 'homeApp:about_us' %}">About us</a>
        <a href="{% url 'homeApp:contact_us' %}">Contact Us</a>
        <a href="{% url 'homeApp:tearm' %}">Term & Conditions</a>
        <a href>Shipping Guide</a>
      </div>
      <div class="col d-flex">
        <h4>USEFUL LINK</h4>
        <a href="{% url 'shopApp:products' %}">Online Store</a>
        <a href="{% url 'homeApp:contact_us' %}">Customer Services</a>
        <a href="{% url 'shopApp:products' %}">Promotion</a>
        <a href="{% url 'shopApp:products' %}">Top Brands</a>
      </div>
      <div class="col d-flex">
        <span><i class='bx bxl-facebook-square'></i></span>
        <span><i class='bx bxl-instagram-alt'></i></span>
        <span><i class='bx bxl-twitter'></i></span>
      </div>
    </div>
  </footer>