{% extends "base.html" %}
{% load static %}
{% block body %}

{% include "tailwind.html" %}


<section class="md:w-8/12 mx-auto pt-24">
    <h1 class="text-6xl font-bold">Some Important FAQ</h1>
    <div class="collapse bg-base-200 my-12">
        <input type="checkbox" /> 
        <div class="collapse-title font-medium text-4xl">
          After Purchase Product Can I return it?
        </div>
        <div class="collapse-content"> 
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt voluptatem commodi, eum officia explicabo eveniet quibusdam similique, modi, voluptas aperiam adipisci! Distinctio consequuntur saepe omnis voluptate aperiam placeat? Ipsam laboriosam ratione nobis deleniti earum laudantium distinctio assumenda facilis impedit quod, sequi quos expedita labore rerum mollitia possimus magni fugit saepe sint corrupti maiores. Dolore est labore quia, sit veniam facilis? Ex inventore cumque sit, quasi, officia asperiores illum quod rerum tempora possimus dolorem consequatur voluptatum corporis, unde dolore perferendis esse vel voluptas qui neque. Esse iusto nisi explicabo facilis, voluptatibus molestiae illo commodi similique sapiente assumenda aliquid officia debitis?</p>
        </div>
    </div>
    <div class="collapse bg-base-200 my-12">
        <input type="checkbox" /> 
        <div class="collapse-title font-medium text-4xl">
          After Purchase Product Can I return it?
        </div>
        <div class="collapse-content"> 
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt voluptatem commodi, eum officia explicabo eveniet quibusdam similique, modi, voluptas aperiam adipisci! Distinctio consequuntur saepe omnis voluptate aperiam placeat? Ipsam laboriosam ratione nobis deleniti earum laudantium distinctio assumenda facilis impedit quod, sequi quos expedita labore rerum mollitia possimus magni fugit saepe sint corrupti maiores. Dolore est labore quia, sit veniam facilis? Ex inventore cumque sit, quasi, officia asperiores illum quod rerum tempora possimus dolorem consequatur voluptatum corporis, unde dolore perferendis esse vel voluptas qui neque. Esse iusto nisi explicabo facilis, voluptatibus molestiae illo commodi similique sapiente assumenda aliquid officia debitis?</p>
        </div>
    </div>
    <div class="collapse bg-base-200 my-12">
        <input type="checkbox" /> 
        <div class="collapse-title font-medium text-4xl">
          After Purchase Product Can I return it?
        </div>
        <div class="collapse-content"> 
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt voluptatem commodi, eum officia explicabo eveniet quibusdam similique, modi, voluptas aperiam adipisci! Distinctio consequuntur saepe omnis voluptate aperiam placeat? Ipsam laboriosam ratione nobis deleniti earum laudantium distinctio assumenda facilis impedit quod, sequi quos expedita labore rerum mollitia possimus magni fugit saepe sint corrupti maiores. Dolore est labore quia, sit veniam facilis? Ex inventore cumque sit, quasi, officia asperiores illum quod rerum tempora possimus dolorem consequatur voluptatum corporis, unde dolore perferendis esse vel voluptas qui neque. Esse iusto nisi explicabo facilis, voluptatibus molestiae illo commodi similique sapiente assumenda aliquid officia debitis?</p>
        </div>
    </div>
    <div class="collapse bg-base-200 my-12">
        <input type="checkbox" /> 
        <div class="collapse-title font-medium text-4xl">
          After Purchase Product Can I return it?
        </div>
        <div class="collapse-content"> 
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt voluptatem commodi, eum officia explicabo eveniet quibusdam similique, modi, voluptas aperiam adipisci! Distinctio consequuntur saepe omnis voluptate aperiam placeat? Ipsam laboriosam ratione nobis deleniti earum laudantium distinctio assumenda facilis impedit quod, sequi quos expedita labore rerum mollitia possimus magni fugit saepe sint corrupti maiores. Dolore est labore quia, sit veniam facilis? Ex inventore cumque sit, quasi, officia asperiores illum quod rerum tempora possimus dolorem consequatur voluptatum corporis, unde dolore perferendis esse vel voluptas qui neque. Esse iusto nisi explicabo facilis, voluptatibus molestiae illo commodi similique sapiente assumenda aliquid officia debitis?</p>
        </div>
    </div>
</section>

{% endblock %}