{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="section product-detail">
    <div class="details container">
      <div class="left image-container">
        <div class="main">
          <img src="/media/{{singProduct.image}}" id="zoom" alt="" />
        </div>
      </div>
      <div class="right">
        <span>Home/{{singProduct.product_name}}</span>
        <h1>{{singProduct.roduct_title}}</h1>
        {% if singProduct.dic_price == 0 %}
            <div class="price" style="margin-right: 10px;">{{singProduct.main_price}}&#2547;</div>
        {% else %}
            <div class="price" style="margin-right: 10px;">{{singProduct.dic_price}}&#2547;</div>
            <div class="price"><del>{{singProduct.main_price}}&#2547;</del></div>
        {% endif %}
        <form>
          <div style="display: flex;flex-direction: column;">
            <div>
              <label for="">Select Size</label><br>
              <select name="" id="" style="margin-top: 10px;">
                <option value="" >--SELECT SIZE--</option>
                <option value="">Hello1</option>
                <option value="">Hello1</option>
              </select>
            </div>
            <div style="margin-top: 10px;">
              <label for="">Select Color</label><br>
              <select name="" id="" style="margin-top: 10px;">
                <option value="" >--SELECT SIZE--</option>
                <option value="">Hello1</option>
                <option value="">Hello1</option>
              </select>
            </div>
            <div style="margin-top: 10px;">
              <label for="">Quintity: </label><br>
              <input type="number" value="1" style="width: 10%;height:35px;padding:10px;">
            <a href="cart.html" style="padding: 8px 5%;background-color:#6cbe02;border-radius:8px;color:white;">Add To Cart</a>
            </div>
          </div>
        </form>
        <h3>Product Detail</h3>
        <p>
          {{singProduct.details}}
        </p>
      </div>
    </div>
  </section>

  <!-- Related -->
  <section class="section featured">
    <div class="top container">
      <h1>Related Products</h1>
      <a href="#" class="view-more">View more</a>
    </div>
    <div class="product-center container">
        {% for i in reletedProduct %}
      <div class="product-item">
        <div class="overlay">
          <a href="{% url 'shopApp:productDetails' slug=i.slug %}" class="product-thumb">
            <img src="/media/{{i.image}}" alt="" />
          </a>
        </div>
        <div class="product-info">
          <span>{{i.product_code}}</span>
          <a href="{% url 'shopApp:productDetails' slug=i.slug %}">{{i.roduct_title}}</a>
          {% if i.dic_price == 0 %}
          <h4 class="mr-4">{{i.main_price}}&#2547;</h4>
          {% else %}
          <div class="" style="display: flex; justify-content:center; gap:4rem;">
            <h4 class="mr-4"> <del>{{i.main_price}}</del>&#2547;</h4>
            <h4>{{i.dic_price}}&#2547;</h4>
          </div>
          {% endif %}
        </div>
        <ul class="icons">
          <li><i class="bx bx-heart"></i></li>
          <li><i class="bx bx-search"></i></li>
          <li><i class="bx bx-cart"></i></li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}