<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                'primary-color': '#6cbe02',
              }
            }
          }
        }
      </script>
    <style>

    </style>
</head>
<body>
    <header>
        <div class="bg-primary-color ">
            <div class="w-9/12 flex justify-stretch">
                <div>
                    <p>Order Online Or Call Us: (001) 2222-55555</p>
                </div>
                <div>
                    <ul class="flex">
                        <li>About Us</li>
                        <li>FAQ</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="w-9/12 mx-auto mt-5">
            <div class="flex justify-between items-center px-6">
                <div>
                    <h2 class="text-4xl">John Dev</h2>
                    <p class="my-2">Dashbord / Profile</p>
                </div>
                <div>
                    <ul class="flex gap-12">
                        <li class="hover:text-green-600 text-xl"><a href="#">Home</a></li>
                        <li class="hover:text-green-600 text-xl"><a href="#">Shop</a></li>
                        <li class="hover:text-green-600 text-xl"><a href="#">About</a></li>
                        <li class="hover:text-green-600 text-xl"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>