{% extends "base.html" %}
{% load static %}
{% block body %}

    <div style="color:#6cbe02;font-size:20px;margin-bottom:10px;text-align: center;margin-top: 50px;">
        {% include 'includs/msg.html' %}
    </div>
    <div class="checkout-container">
        <h2>Billing Information > Checkout</h2>
        <div class="address-container">
            <div class="input-fields">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="fields">
                        <label for="address">Address: </label>
                        <input type="text" value="{{ address.address }}" name="address" id="address" >
                    </div>
                    <div class="fields">
                        <label for="zip">Zipcode: : </label>
                        <input type="text" name="zipcode" value="{{address.zipeCode}}" placeholder="Zipcode" id="zip" >
                    </div>
                    <div class="fields">
                        <label for="city">City: </label>
                        <input type="text" name="city" value="{{address.city}}" placeholder="City" id="city" >
                    </div>
                    <div class="fields">
                        <label for="country">Country: </label>
                        <input type="text" name="country" value="{{address.country}}" placeholder="Country" id="country" >
                    </div>
                    <div class="fields">
                        <label for="phone">Phone: </label>
                        <input type="text" name="phone" value="{{address.phone}}" placeholder="Phone" id="phone" >
                    </div>
                    <div class="fields">
                        <button type="submit">SAVE INFORMATION</button>
                    </div>
                </form>
            </div>
            <div class="total-fields">
                <div class="orderContainer">
                    <h1>Your Order</h1>
                    <p>The Details</p>
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                        </tr>
                        {% for i in order_items %}
                            <tr>
                                <td>{{i.item}}</td>
                                <td>{{i.quantity}}</td>
                                <td>{{i.get_total}}&#2547</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="font-weight: 800;">Total Payment: </td>
                            <td>{{order_total}}&#2547</td>
                        </tr>
                    </table>
                    {% if address.is_fully_filed %}
                        <a href="{% url 'paymentApp:payment' %}" class="orderBtn">PLACE ORDER</a>
                    {% else %}
                        <a href="" aria-disabled="true" class="orderBtn" style="background-color: rgb(209, 55, 55);">Complate Billing Address</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}